SECRET_KEY=django-insecure-change-me-in-production
DEBUG=True
ALLOWED_HOSTS=*
DATABASE_URL=sqlite:///db.sqlite3
ML_APP_ID=
ML_SECRET_KEY=
ML_REDIRECT_URI=http://localhost:8000/integracao/mercadolivre/callback
CELERY_BROKER_URL=redis://localhost:6379/0
